<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- calendar settings -->
    <category label="30001">
        <setting label="30004" type="text" id="font" default="FiraMono-Bold.ttf"/>
        <setting label="30003" type="text" id="color" default="#ffffff"/>
        <setting label="30006" type="number" id="size" default="18"/>
    </category>
    <!-- maintenance -->
    <category label="30002">
        <setting label="30005" type="action" id="clearcache" action="RunPlugin(plugin://plugin.video.nakamori/?cmd=clear)" option="close"/>
    </category>
</settings>