<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- calendar settings -->
    <category label="30028">
        <setting label="30029" type="text" id="font" default="FiraMono-Bold.ttf"/>
        <setting label="30030" type="text" id="color" default="#ffffff"/>
        <setting label="30031" type="number" id="size" default="18"/>
    </category>
    <!-- maintenance -->
    <category label="30032">
        <setting label="30033" type="action" id="clearcache" action="RunPlugin(plugin://plugin.video.nakamori/?cmd=clear)" option="close"/>
    </category>
</settings>